.socials-block {
  text-align: center;
  a {
    display: inline-block;
    width: 30px!important;
    height: 20px;
    margin: 0;
    .font-size(22)!important;
    color: #fff;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: .2s;

    &:hover {
      color: darken(#fff, 5%);
    }
      
  }
    a:last-of-type{
        width: auto !important;
        text-decoration: none;
        font-family: "stolzl";
        .font-size(12)!important;
    }
}

@media (max-width: 1250px) {

  .socials-block a {
    .font-size(20)!important;
  }
}

.fixed-social {
  position: fixed;
  left: 20px;
  bottom: 20px;
  z-index: 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  a {
    display: block;
    background: #fff;
    padding: 10px;
    border-radius: 50%;
    height: 42px;
    width: 42px;
    text-decoration: none;
    border: 1px solid #2e7d32;
    text-align: center;
    margin-right: 10px;
    transition: all 0.2s linear;

    @media (max-width: 768px) {
      margin-bottom: 10px;
    }
    
    i {
      font-size: 20px;
      color: #2e7d32;
      transition: all 0.2s linear;
    }
    
    &:hover {
      background: #2e7d32;
      
      i {
        color: #fff;
      }
    }
  }
}
