.heading {
  position: relative;
  padding: 70px 0 0;
  //background-color: #0343c7;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background-color: #4caa50;

  .bg{
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 65.8%;
  }

  .head_logo{
    position: relative;
    margin-top: 64px;
    height: 100%;
    max-height: 88px;
    width: 100%;
    display: flex;
    justify-content: center;
    img{
      width: 31%;
      min-width: 300px;
      max-width: 424px;
    }
  }
  .btn_container{
    position: absolute;
    bottom: 5.25%;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 98px;
    //margin-bottom: 57px;
    .heading_btn{
      cursor: pointer;
      margin-right: 38px;
      &:last-child{
        margin-right: 0px;
      }
      img{
        height: 80px;
        width: auto;
      }
    }
  }
  //.ninja{
  //  position: absolute;
  //  left: -60px;
  //  top: 240px;
  //  width: 100%;
  //  height: auto;
  //  max-width: 1215px;
  //  min-width: 800px;
  //}
  .ninja{
    position: absolute;
    right: 0;
    top: 70px;
    height: 70%;
    //height: 50%;

    img {
      display: block;
      height: 100%;
    }
  }
  .dashes_1{
    position: absolute;
    right: -243px;
    top: 312px;
    width: 76%;
    height: auto;
    max-width: 1030px;
  }
  .dashes_2{
    position: absolute;
    left: 85px;
    top: 113px;
    width: 76%;
    height: auto;
    max-width: 80px;
  }
  .dashes_3{
    position: absolute;
    right: 178px;
    top: 113px;
    width: 76%;
    height: auto;
    max-width: 177px;
  }
  .dashes_4{
    position: absolute;
    left: 56px;
    bottom: 8px;
    width: 76%;
    height: auto;
    max-width: 367px;
  }
  .dashes_5{
    position: absolute;
    right: 54px;
    bottom: 8px;
    width: 76%;
    height: auto;
    max-width: 413px;
  }
  .dashes_6{
    position: absolute;
    right: -22px;
    top: 600px;
    width: 76%;
    height: auto;
    max-width: 177px;
  }
  .main_title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-right: 10% !important;
    margin-top: 3.5%;
    margin-bottom: 50px;

    span {
      font-family: stolzl,sans-serif;
      .font-size(62);
      font-weight: 700;
      line-height: 1;
      color: @color_green;
      margin: 0;
    }

    p {
      font-family: stolzl,sans-serif;
      .font-size(130);
      font-weight: 700;
      line-height: 1;
      color: @color_green;
      margin: 0;
    }
  }
	.font_for_translation{
		font-size: 32px !important;
		font-weight: 500;
	}
   
}
@media screen and (max-width: 1400px) {

  .heading {

    .main_title{
      margin-top: 100px;
      margin-bottom: 150px;

      span {
        .font-size(44);
      }

      p {
        .font-size(100);
      }
    }

    .ninja {
      right: -300px;
    }
  }

  .heading-logo {
    max-width: 400px;
  }

  .heading-date {
    .font-size(30);
  }

  .heading-list {
    margin-top: 10vh;
    li {
      margin-bottom: 20px;
    }

  }
}

@media @laptop {
  .heading-tickets-btn {
    display: block;
    width: 50%;
    max-width: 400px;
  }
}

@media @laptopMd{

    .photo-container{
        flex-direction: column;
        align-items: center;
        
        .box{
            width: 500px !important;
        }
    }

  .heading {

    .btn_container{
      .heading_btn{
        img{
          height: 60px;
        }
      }
    }

    .main_title{
      margin-top: 70px;
      margin-bottom: 150px;

      span {
        .font-size(44);
      }

      p {
        .font-size(100);
      }
    }
  }
}

@media @tablet {
  .heading {
    padding: 70px 0 0;

    .bg{
      display: none;
    }

    .ninja {
      right: -200px;
      height: 60%;
    }

    .btn_container{
      .heading_btn{
        img{
          height: 50px;
        }
      }
    }

    .main_title{
      margin-top: 55px;
      margin-bottom: 125px;

      span {
        .font-size(32);
      }

      p {
        .font-size(82);
      }
    }
  }

  .heading-logo {
    max-width: 300px;
  }

  .heading-date {
    margin-left: 0;
    margin-top: 20px;
    .font-size(22);
  }

  //.heading-bg-img {
  //  margin-top: -100px;
  //}

  .heading-tickets-btn {
    margin-top: 10px;
    max-width: 330px;
  }
}




@media @mobileLg {

  .heading {

    .ninja {
      height: 52%;
    }

    .main_title {
      margin-bottom: 100px;
    }

    .btn_container {
      flex-direction: column;
      align-items: center;
      padding-bottom: 0px;

      .heading_btn {
        margin-right: 0;
      }
    }
  }

  .dashes_4, .dashes_5, .dashes_6{
    display: none;
  }

    .photo-container{
        
        .box{
            width: 350px !important;
        }
    }
    
    .video-container{
        
        .box{
            flex: 0 0 100% !important;
            max-width: 100% !important;
            margin:  0;
        }
    }

}

@media @mobileMd {

  .heading{

    .bg{
      display: block;
      height: 37.6%;
    }
    .ninja{
      height: 40% !important;
    }
    .main_title{
      margin-top: 50px;
      margin-bottom: 80px;

     span {
        .font-size(36);
      }

      p {
       .font-size(48);
      }
    }
  }
}


@media @mobile {

  .heading{
    .ninja{
      height: 40% !important;
    }
    .main_title{
      margin-top: 40px;
      margin-bottom: 65px;

     span {
        .font-size(30);
      }

      p {
       .font-size(42);
      }
    }
  }
}

